{
  "presets": ["next/babel", "react-app"],
  "plugins": [
    ["styled-components", { "ssr": true }],
    "@babel/plugin-proposal-class-properties",
    "transform-es2015-modules-commonjs",
    "dynamic-import-node"
  ]
}
