{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    "@babel/transform-runtime",
    "@babel/plugin-proposal-class-properties",
    "transform-es2015-modules-commonjs",
    "dynamic-import-node"
  ],
  "ignore": []
}
